.env
/.github
README.md
/laravel_back/node_modules
/laravel_back/public/hot
/laravel_back/public/storage
/laravel_back/public/media
/laravel_back/storage/*.key
/laravel_back/vendor
/laravel_back/.env
/laravel_back/.env.backup
/laravel_back/.phpunit.result.cache
/laravel_back/docker-compose.override.yml
/laravel_back/Homestead.json
/laravel_back/Homestead.yaml
/laravel_back/npm-debug.log
/laravel_back/yarn-error.log
/.idea
/.vscode